html{
    font-family: "Mulish", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
}
nav a span{
    height: 41px;
    width: 41px;
    font-size: 26px;
    font-weight: 700;
}
header span{
    height: 41px;
    width: 41px;
    font-size: 26px;
    font-weight: 700;
}
header h3{
    font-size: 24px;
    font-weight: 700;
    color: rgba(35, 51, 72, 1);
}
header nav a{
    font-size: 18px;
    font-weight: 400;
    color: rgba(31, 21, 52, .5) !important;
}
.active{
    font-weight: 700 !important;
    color: rgba(31, 21, 52, 1) !important;
}
nav a:last-child{
    padding-right: 0;
}
main .wrap-1 #body-1{
    max-width: 40%;
}
main .wrap-1 h3{
    min-height: 112px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(0, 0, 0, 1);
}
main .wrap-1 p{
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
}
main .wrap-1 .cto{
    font-size: 1rem;
    font-weight: 700;
    border-radius: 55px;
    max-width: 60%;
}
main .wrap-1 img{
    width: 55%;
    height: auto;
}
footer{
    border: 2px solid tomato;
}

@media (max-width:992px) {
    header{
        max-width: 100%;
    }
    main .wrap-1 #body-1{
        max-width: 100%;
    }
    main .wrap-1 h3{
        font-size: 5rem;
        line-height: 6rem;
    }
    main .wrap-1 p{
        font-size: 24px;
        line-height: 36px;
    }
    main .wrap-1 .cto{
        max-width: 100%;
    }
    main .wrap-1 img{
        width: 100%;
    }
}